$green: #7ccc81;
$red: #cc684d;
$yellow: #ccc678;
$blue: #9db9cc;


body {
  display: flex;
  height: 100vh;
}

.frame {
  display: flex;
  flex-flow: column nowrap;
  margin: auto;
  width: 480px;
}

.counter {
  font-family: monospace;
  font-size: 20px;
  height: 14px;
  line-height: 0;
  text-align: center;
  width: 50px;
}

.colors {
  border: 1px solid gray;
  display: flex;
  height: 50px;

  .color {
    cursor: pointer;
    flex: 25%;
  }

  .color-green {
    background-color: $green;
  }

  .color-red {
    background-color: $red;
  }

  .color-yellow {
    background-color: $yellow;
  }

  .color-blue {
    background-color: $blue;
  }
}

.controls {
  align-items: stretch;
  display: flex;
  justify-content: flex-end;

  .controls-start,
  .controls-strict {
    background-color: white;
    border: 1px solid gray;
    padding: 8px;
  }

  .controls-strict.isChecked {
    background-color: red;
    color: white;
  }

  .controls-strict input {
    display: none;
  }
}
